<footer class="footer">
  <p>© <script>document.write(new Date().getFullYear())</script> Purpose & Perspective · Crafted by <a href="https://delitweb.co.za" target="_blank" style="color: inherit; text-decoration: none;">Del IT+Web</a></p>
  <br> <img src="/images/FullLogo_Transparent_NoBuffer.png" alt="Purpose & Perspective Logo" style="width: 150px; height: auto; object-fit: contain;">
</footer>