<footer class="footer">
  <p>© <script>document.write(new Date().getFullYear())</script> Purpose & Perspective · Crafted by <a href="https://delitweb.co.za" target="_blank" style="color: inherit; text-decoration: none;">Del IT+Web</a></p>
  <br> <img src="/images/FullLogo_NoBuffer.jpg" alt="Del IT+Web Logo" style="width: 150px; border-radius: 8px;">
</footer>