      <footer class="footer">
<footer class="footer">
  <p>© 2025 Krugersdorp Daily · Crafted by Del IT+Web</p>
  <br> <img src="/images/FullLogo_NoBuffer.jpg" alt="Del IT+Web Logo" style="width: 150px; border-radius: 8px;">
</footer>