  <div class="navbar    ">
    <a href="/">Home</a>
    <a href="/compose">Compose</a>
  </div>
  <div class="hero " >
    <h1>Welcome to Krugersdorp Daily</h1>
    <p>Stories that matter. Voices that resonate.</p>
  </div>
  <hr>